header {
    width: 80%;
    height: 110px;
    background-color: black;
    margin: 0 auto;
    text-align: center;
}
h1{
  font-family: sans-serif;
  color: white
}
h2{
  text-align: center;
  font-family: sans-serif;
}
p{
  text-align: center;

  font-family: sans-serif;
}
nav{
  width: 550px;
  height: 50px;
  background-color: black;
  margin: 0 auto;
}

nav ul{
  margin-left: -30px;
}
nav ul li{
  list-style: none;
  display: inline-block;
  /* width: 100px; */
  text-align: center;
  margin-right: 20px;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 11px;
  font-family: sans-serif;
}

nav ul li a:hover{
  background-color: pink;
}

main {
    width: 80%;
    height: 1100px;
    background-color: ghostwhite;
    margin: 0 auto;
}

footer {
    width: 80%;
    height: 50px;
    background-color: black;
    margin: 0 auto;
}

.photoimages{
  width: 350px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#photoGrid{
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  /* for other layouts use percentage  grid-template-columns: 25% 75%;*/
  text-align: center;

}

.lightbox{
  text-decoration: none;
  color: black;
}
