@import url('https://fonts.googleapis.com/css?family=Raleway');


header{margin-top: auto;}


body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

body{
  background-color: azure;
}

h1{font-family: 'Raleway', sans-serif;
}


#grid1{
  display: grid;
  grid-template-areas: "col1 col2";
  grid-template-rows: 1fr;
  grid-template-columns: 50% 50%;
}
#col1{
  grid-area: col1;
  height: auto;
}
#col2{
  grid-area: col2;
  height: auto;
}
#grid3{
  display: grid;
  grid-template-areas: "col3 col4";
  grid-template-rows: 1fr;
  grid-template-columns: 50% 50%;
